In [25]:
import pandas as pd
import numpy as np
import networkx as nx

from functions import get_graph, get_data

In [79]:
col = 'alabama'

o, c = get_data(col)
G = get_graph(col)

In [80]:
o.head()

                 name            school         city state  ranking      col
0      Nick Singleton  Governor Mifflin      Reading    PA   0.9860  alabama
1  Emmanuel Henderson     Geneva County     Hartford    AL   0.9809  alabama
2        Raleek Brown         Mater Dei    Santa Ana    CA   0.9808  alabama
3    Branson Robinson        Germantown      Madison    MS   0.9729  alabama
4        Le'Veon Moss          Istrouma  Baton Rouge    LA   0.9652  alabama

In [81]:
states = dict(zip(o.name, o.state))
states[col] = 'AL'

In [82]:
nx.set_node_attributes(G, states, "state")

In [84]:
states = o.groupby(['state'])['name'].apply(list)
states['CA'] = states['CA'] + ['alabama']

In [85]:
communities = states.to_list()

In [86]:
from networkx.algorithms import community
community.modularity(G, communities)

-0.09636771592091571

In [87]:
nx.attribute_assortativity_coefficient(G, "state")

-0.08530805687203792