In [1]:
import pandas as pd
import numpy as np
import networkx as nx

from functions import get_graph, get_reciprocity_df

In [2]:
colleges = ['alabama', 'georgia', 'ucla', 'usc']

for col in colleges:
    print(f'{col}: {nx.reciprocity(get_graph(col))}')

alabama: 0.20161290322580644
georgia: 0.23346303501945526
ucla: 0.2716049382716049
usc: 0.06324110671936758

In [3]:
rec = get_reciprocity_df(colleges)
rec

  colleges       rec     w_rec  offer_rank  commit_rank
0  alabama  0.201613  0.204852    0.935923     0.952676
1  georgia  0.232558  0.233321    0.926630     0.930070
2     ucla  0.271605  0.267071    0.907856     0.890364
3      usc  0.063241  0.063192    0.923787     0.923050

In [4]:
rec.to_csv('data/reciprocity.csv')